@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-base-color: #ffffff;
  --white-grayish-color: #f6f6f6;
  --white-light-color: #d6e6ff;
  --gray-light-color: #d7d7d7;
  --gray-bold-color: #7c8694;
  --gray-base-color: #919191;
  --black-base-color: #000000;
  --blue-base-color: #0066ff;
  --red-base-color: #d70000;
  --green-base-color: #007d05;
  --blue-opacity-color: 0, 102, 255, 0.1;
  --red-opacity-color: 255, 0, 0, 0.1;
  --green-opacity-color: 0, 255, 41, 0.1;
  --yellow-opacity-color: 255, 199, 3, 0.1;
}
body {
  @apply bg-white dark:bg-[#0d0d0d];
}

@layer utilities {
  .text-base-black {
    @apply text-2xl font-bold text-[--black-base-color] dark:text-white;
  }

  .text-base-blue {
    @apply text-2xl font-bold text-[--blue-base-color] dark:text-white;
  }

  .text-base-gray {
    @apply text-2xl font-bold text-[--gray-base-color] dark:text-white;
  }

  .text-base-white {
    @apply text-2xl font-bold text-[--white-base-color] dark:text-white;
  }

  .text-initial-black {
    @apply text-base font-normal text-[--black-base-color] dark:text-white;
  }

  .text-initial-blue {
    @apply text-base font-normal text-[--blue-base-color] dark:text-white;
  }

  .text-initial-gray {
    @apply text-base font-normal text-[--gray-base-color];
  }

  .text-initial-white {
    @apply text-base font-normal text-[--white-base-color] dark:text-white;
  }

  .text-low-black {
    @apply text-sm font-light text-[--black-base-color] dark:text-white;
  }

  .text-low-blue {
    @apply text-sm font-light text-[--blue-base-color] dark:text-white;
  }

  .text-low-gray {
    @apply text-sm font-light text-[--gray-base-color];
  }

  .text-low-white {
    @apply text-sm font-light text-[--white-base-color] dark:text-white;
  }

  .border-base-gray {
    @apply dark:border-[#404040] border-[--gray-light-color];
  }

  .border-base-blue {
    @apply border-[--blue-base-color];
  }

  .border-base-black {
    @apply border-[--black-base-color];
  }

  .base-margin {
    @apply px-16 py-3 overflow-auto max-lg:px-8 max-sm:px-4;
  }

  .bg-opacity-overlay {
    background-color: rgba(0, 0, 0, 0.16);
  }

  .animate_opacity {
    animation: dialog 0.7s;
  }

  .tag {
    @apply border border-gray-300 rounded-lg px-3 py-1 overflow-auto;
  }
}

@keyframes dialog {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  70% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
