:root {
  --grey_color: #6b6a6a;
  --blue_color: hsl(209, 84%, 49%);
  --light_blue_color: #caf0f8;
  --yellow_color: #ffb803;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

/* NAVIGATION */
.navigation_header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.navigation_header .navigation_list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2em;
}

.navigation_header .navigation_list li a {
  font-size: 17px;
  text-decoration: none;
  border-bottom: 2px solid #fff;
  color: var(--grey_color);
}

.navigation_header .navigation_list .nav_login_btn a {
  background-color: transparent;
  border: 1px solid var(--blue_color);
  padding: 10px 20px;
  color: #121212 !important;
  border-radius: 13px;
}

.navigation_header .navigation_list .nav_login_btn a:hover {
  transition: 0.3s;
  background-color: var(--yellow_color);
}

.navigation_header .navigation_list .nav_signup_btn a {
  background-color: var(--blue_color);
  padding: 10px 20px;
  color: #fff !important;
  border-bottom: 2px solid #fff;
  border-radius: 13px;
}

.navigation_header .navigation_list .nav_signup_btn a:hover {
  transition: 0.3s;
  background-color: var(--yellow_color);
}

.navigation_header .navigation_list li a:hover {
  color: var(--blue_color);
  transition: 0.3s;
}

.navigation_header .navigation_list li a.active {
  border-bottom: 2px solid var(--yellow_color);
  transition: 0.3s;
  padding-bottom: 12px;
  color: var(--yellow_color);
}

.card_hero {
  background-image: url("./shared/assets/Company.png");
  height: 40em;
  display: flex;
}

.boxCompany {
  display: "flex";
  flex-wrap: wrap;
  gap: "1.2em";
  margin-top: 40px;
}

.boxCompany img {
  width: 150px;
  height: auto;
  aspect-ratio: 24 / 9;
}

/* Why job Section */

.button_outlined {
  background-color: #1482e812;
  border: 2px solid var(--blue_color);
  border-radius: 60px;
  padding: 15px 60px;
  color: #1482e8;
  font-weight: bolder;
  font-size: 20px;
}

.why_job_box {
  border: 2px solid var(--blue_color);
  border-radius: 60px;
  padding: 30px;
}

.why_job_box img {
  width: 280px;
  position: relative;
  right: 120px;
}

/* How it Works Section */

.howitworksimg {
  width: 100%;
}

.signup_action {
  position: relative;
  overflow-x: hidden;
}

.signup_action {
  height: auto;
  margin: auto;
}

.signup_action .text {
  position: absolute;
  top: 30%;
  left: 10%;
}

.search_container {
  -webkit-box-shadow: -4px 13px 56px -27px rgb(54, 53, 53);
  -moz-box-shadow: -4px 13px 56px -27px rgb(45, 42, 42);
  box-shadow: -4px 13px 56px -47px rgb(204, 195, 195);
  padding: 40px;
  border-radius: 12px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  border: 1px solid rgb(204, 195, 195);
}

.job_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.job_details_list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-right: 40px;
}

.job_details_titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list_description {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 20px;
  list-style: circle;
}

.skills_list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.skills_list > li {
  background-color: #1482e841;
  padding: 10px;
  border-radius: 12px;
  color: #1482e8;
}

.skills_list > li:hover {
  transition: 0.2s;
  box-shadow: 0 2px #1482e8;
}

.save_button_div {
  position: absolute;
  right: 20px;
}

.auth_form {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.flex_buttons {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 20px;
}

.flex_buttons button {
  padding: 22px 26px;
  background-color: transparent;
  border: 1px solid #ffff;
  border-radius: 200px;
  color: #fff;
  font-weight: bold;
}

.flex_buttons button:hover,
.flex_buttons button.active {
  background-color: rgb(108, 169, 249);
}

.pagination_list {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.pagination_list li {
  cursor: pointer;
  background-color: #1482e8;
  padding: 13px 20px;
  color: #fff;
}

.pagination_list li:hover {
  transition: 0.3s;
  background-color: rgba(25, 74, 236, 0.148);
}

.card {
  border: 1px solid #1482e8;
  width: 170px;
  cursor: pointer;
  padding: 20px;
  border-radius: 12px;
}

.card.selectedCard {
  background-color: #1482e81e;
  transition: 0.3s;
}

.company_header {
  background-color: #1482e8;
  padding: 100px;
}

.company_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.company_list_main {
  padding: 60px;
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.aligncenter {
  display: flex;
  align-items: center;
  gap: 12px;
}

.jobs_of_company {
  padding-top: 20px;
  display: flex;
  gap: 20px;
}

.textarea {
  resize: none;
  width: 100%;
  font-size: 18px;
  border: 1px solid rgb(194, 194, 194);
  height: 400px;
  max-height: 400px;
}

.textarea::placeholder {
  font-weight: 200;
  color: rgb(194, 194, 194);
  font-size: 14px;
}

.loader_center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bdd7ff;
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.flex {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.content {
  text-align: center;
}

.boxstatus {
  border: 1px solid #e0dfdf;
  padding: 12px;
  color: #e0dfdf;
  border-radius: 12px;
  margin-top: 20px;
}

/* STATUS CLASSES */

.interview {
  background-color: rgba(236, 197, 25, 0.148);
  border: 1px solid rgba(236, 197, 25, 0.148);
  border: none;
  color: orange;
}

.screening {
  background-color: rgba(25, 74, 236, 0.148);
  border: 1px solid rgba(25, 74, 236, 0.148);
  border: none;
  color: royalblue;
}

.hired {
  background-color: rgba(23, 240, 81, 0.148);
  border: 1px solid rgba(23, 240, 81, 0.148);
  border: none;
  color: green;
}

.rejected {
  background-color: rgba(240, 34, 23, 0.148);
  border: 1px solid rgba(240, 34, 23, 0.148);
  border: none;
  color: red;
}

.open_menu_btn {
  background-color: transparent;
  border: none;
  font-size: 40px;
  display: none;
}

.side-drawer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 70%;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 30px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: baseline;
  justify-content: space-around;
}

.nav_login_btn a {
  background-color: transparent;
  border: 1px solid var(--blue_color);
  padding: 10px 20px;
  color: #121212 !important;
  border-radius: 13px;
}

.nav_signup_btn a {
  background-color: var(--blue_color);
  padding: 10px 20px;
  color: #fff !important;
  border-bottom: 2px solid #fff;
  border-radius: 13px;
}

.signup_container {
  margin-top: 70px;
}

.form_img {
  background-image: url("./shared/assets/form_img.png");
}

.jobs_grid_profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.add_job_form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 3em;
}

.bio_textarea {
  width: 690px;
  height: 200px;
  border: 1px solid grey;
  resize: none;
  font-size: 20px;
  color: gray;
}

.textArea {
  width: 100%;
  resize: vertical;
  height: 20em;
  max-height: 20em;
  border: 1px solid rgb(218, 215, 215);
}

.apply_form {
  padding: 70px;
  display: "flex";
  flex-wrap: "wrap";
  justify-content: "center";
  gap: 12px;
}

.profile_img {
  background-color: rgb(255, 191, 0);
  padding: 20px;
  border-radius: 60px;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
}

/* RESPONSIVE */

@media (max-width: 1500px) {
  .job_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1194px) {
  .filter_box {
    flex-direction: row !important;
    padding: 20px !important;
    flex-wrap: wrap !important;
  }

  .jobs_grid_profile {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 870px) {
  .job_list {
    grid-template-columns: repeat(1, 1fr);
    padding: 3px;
  }
}

@media (max-width: 786px) {
  .search_container {
    padding: 40px;
    flex-wrap: wrap;
    gap: 22px;
    margin-top: 20px;
  }

  .navigation_header {
    padding: 30px;
  }
  .company_header {
    padding: 45px;
  }
}

@media (max-width: 425px) {
  .signup_action .text {
    padding: 40px;
  }

  .add_job_form {
    padding: 20px !important;
  }

  .company_list_main {
    padding: 2px !important;
  }
  .job_details_list {
    gap: 20px;
  }

  .apply_form {
    padding: 30px !important;
  }
  .company_list {
    position: relative;
    right: 24px;
  }
  .company_div {
    display: none;
  }
  .grid_hero_text {
    padding: 0;
    padding-left: 12px !important;
  }
  .skills_list {
    padding: 3px;
  }
  .list_description {
    padding: 8px;
  }
}

@media (max-width: 390px) {
  .grid_hero_text {
    padding: 0;
    padding-left: 12px !important;
  }

  .signup_action {
    right: 20px;
  }

  .list_description {
    padding: 8px;
  }

  .skills_list {
    padding: 3px;
  }
}

@media (max-width: 950px) {
  .cart_bar svg {
    font-size: 26px;
    color: #fff;
  }

  .menu {
    flex-direction: column;
    gap: 3rem;
    margin-right: 60px;
  }

  .menu li a {
    text-decoration: none;
    color: #303030;
    font-weight: 600;
  }

  .navigation_header nav {
    display: none;
  }

  .navigation_header img {
    display: none;
  }

  .open_menu_btn {
    display: block;
  }

  .card_hero {
    display: none;
  }
}
